@model MVC_Basic.Context.User_2119110143

@{
    ViewBag.Title = "Xoá thành viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">

    <!-- Main content -->
    <section class="content my-2">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-6"><strong class="text-primary" style="font-size:22px"> XÓA THÀNH VIÊN</strong></div>

                        <div class="col-md-6 text-right">
                            <div class="form-actions no-color">
                                <button class="btn btn-sm btn-danger mx-0" type="submit"><b>Xóa</b></button>
                                <a href="@Url.Action("Edit","User",new { id = Model.Id })" class="btn btn-sm btn-success"><i class="fas fa-edit">&nbspCập nhật</i></a>
                                <a href="@Url.Action("Index","User")" class="btn btn-sm btn-info"><i class="fas fa-arrow-left"></i>&nbsp&nbspVề danh sách</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="card-body">
                <span style="font-weight:bold;color:red;font-size:20px">Bạn có chắc muốn xóa thành viên này không?</span>
                <br />
                <table class="table table-bordered">
                    <tr class="bg-info">
                        <th style="width:320px;">Tên trường</th>
                        <th>Nội dung</th>
                    </tr>

                    <tr>
                        <td>Họ</td>
                        <td>@Html.DisplayFor(model => model.LastName)</td>
                    </tr>
                    <tr>
                        <td>Tên</td>
                        <td>@Html.DisplayFor(model => model.FirstName)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Email)</td>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td>Mật khẩu</td>
                        <td>@Html.DisplayFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <td>Quyền</td>
                        @if (Model.IsAdmin == true)
                        {
                            <td>Admin</td>

                        }
                        else
                        {
                            <td>Khách hàng</td>
                        }
                    </tr>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>